.App-header {
  text-align: center;
  height: 150px;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

.tile {
  background: purple;
  color: white;
  margin: 10px;
  text-align: center;
  display: inline-block;
}